/*-- Body Reset --*/
body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #616971;
  }
  
  /*============= TOP BAR HEADER =============*/
  .top-bar{
    background: #7aaec4;
    height:2.8rem ;
    padding:.5rem 0 ;
  }
  .top-bar a{
    color: white;
  
  }
  
  
  /*============= NAVIGATION =============*/
  .box {
    transition: box-shadow .3s;
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    border-radius:0.5rem;
    border: 0.1rem solid #ccc;
    background: #fff;
    float: left;
    
  }
  .box .single-services{
  
    margin-top: 2rem;
  }
  .box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
  #box2 {
    transition: box-shadow .7s;
    width: 57rem;
    height: 10rem;
    margin: 1rem;
    float: left;
    
  }
  #box2:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
  
  .navbar-brand img{
    height: 3rem;
  
  
  }
  .navbar{
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0,0, .1);
    z-index: 1;
  }
  .nav-item{
    padding:.5rem;
  
  }
  .nav-link{
    color: #5b5555!important;
    font-size: 1rem;
  }
  .nav-link.active,
  .nav-link:hover{
    
    color: #4981b3!important;
  }
  /*============việc làm nổi bật ==============*/
  .single-job-items {
    padding: 36px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.mb-30 {
    margin-bottom: 30px;
}
.single-job-items .job-items {
  display: flex;
  flex-wrap: wrap;
}

.single-job-items .job-tittle ul li {
  display: inline-block;
  margin-right: 48px;
  font-size: 15px;
  color: gray;
  line-height: 1.8;
}
.single-job-items .job-tittle ul li i {
  font-size: 14px;
  color: #bbb;
  margin-right: 10px;
}
.single-job-items .job-tittle ul li:last-child {
  margin-right: 0;
}
.single-job-items .job-tittle h4{
  margin-left: 2.5rem;
}
.single-job-items .job-tittle ul li {
  display: inline-block;
  font-size: 15px;
  color: gray;
  line-height: 1.8;
}
.items-link button {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}
.company-img img{
  border-style: solid;
 border-width: 0.1rem;
 border-radius: 0.3rem;
}


  
  /*============= CAROUSEL =============*/
  
  #carousel{
    
    box-shadow: 0 .5rem .5rem rgba(0, 0,0, .1);
  }
  .carousel-inner{
    max-height: 38rem!important;
  }
  
  
  /*---Change Carousel Transition Speed --*/
  
  
  /*-- Carousel Content --*/
  .hero__caption{
    font-size: 3rem;
    color: #000;
    font: outline;
  }
  /* serch */
form.search-box .input-form {
    width: 79%;
    position: relative;
}
form.search-box .input-form input {
  height: 70px;
  width: 100%;
  color: #777;
  font-size: 18px;
  font-weight: 400;
  padding: 9px 33px 9px 32px;
  border: none;
  border-radius: 0;
  position: relative;
}
form.search-box .search-form {
  width: 21%;
}
form.search-box .search-form a {
  width: 100%;
  height: 70px;
  background: #fb246a;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: #fff;
  display: block;
  padding: 15px;
  border-radius: 0;
  text-transform: capitalize;
  font-family: "Muli",sans-serif;
  letter-spacing: .1em;
  line-height: 1.2;
  line-height: 38px;
  font-size: 14px;
}
  form.search-box {
    box-shadow: 0 6px 29px 0 rgba(36,43,94,.08);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
 width: 29rem;
 border-radius: 0rem;
  
}
/* thanh đầu */
#bnt{
  padding: 1rem;
  display: flex;
  
margin: auto;
width: 92%;
}

  .carousel-caption{
    position:absolute;
    top:54%;
    transform: translateY(-50%);
  }
  .bg-custom{
    background-color: rgba(0, 0,0, .4);
    color:white ;
    border-radius: 1rem;
  
  }
  .carouse-caption h1{
    font-size:3.8rem;
    box-shadow: .1rem .1rem .3rem rgba(0, 0,0, .1);
  }
  .border-primary{
    border-top:.2rem solid #4981b3!important;
  }
  .carouse-caption h3{
    font-size: 2.2rem;
    box-shadow: .1rem .1rem .2rem rgba(0, 0,0, .1);
  }
  .btn-lg{
   border-radius:0 ;
   text-transform:uppercase;
   font-size: 1rem;
  }
  /*===== FIXED BACKGROUND IMG =====*/
  
  
  
  /*-- Emoji Navbar --*/
  
  
  
  /*============= FOOTER =============*/
  footer{
    background-color: #383838;
   padding: 1rem 2rem 3rem;
  }
  footer img{
    height: 3.5rem;
    margin: 1.5rem auto;
  }
  footer p,footer a{
    color:white;
    text-decoration: none;
  }
  ul.social{
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0;
    
  }
  ul.social li{
    margin: 0 auto;
  }
  footer .svg-inline--fa{
    font-size: 2.3rem;
  }
  footer .svg-inline--fa:hover{
    color:#68a0d2 ;
  }
  
  /*============= SOCKET =============*/
  
  
  
  /*============= MEDIA QUERIES =============*/
  
  /* Devices under 1199px (xl) */
  @media (max-width: 1199.98px) {
  
  }
  /* Devices under 768px (md) */
  @media (max-width: 767.98px) {
  
  }
  
  
  /*============ BOOTSTRAP BREAK POINTS:
  
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  
  =============*/
  
  /*-- Bootstrap Mobile Gutter Fix --*/
  .row, .container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  
  /*-- Fixed Background Image --*/
  .fixed-background {
    position: relative;
    width: 100%;
    z-index: 1000!important;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
  }
  .fixed {
    z-index: -999!important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
  }